.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  justify-content: space-between;

}

.navbar a {
  margin-left: 0.5em;
  padding: 30px;
  font-size: 30px;
  text-shadow: 2px 2px rgb(226, 100, 177);
  padding-left: 50px;
  margin-top: 50px;

  
}

.navbar a:hover {
  font-size: 35px;
  color: rgb(0, 0, 0);

}

.navbar h3 {
  font-size: 30px;
  padding-left: 50px;

}
.title {
  font-size: 40px;
  text-shadow: 2px 2px purple;
}

html {
  background-color: #e7b4ef;
  
}
.home {
  padding-top: 30px;
}
.form {
  border: 3px solid;
  border-style: outset;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
  border-width: 5px;
  text-shadow: 2px 2px rgb(224, 139, 224)

}
.inputs {
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 40px;
  padding-top: 4px;
  margin-left: 4px;

}
label {
  font-size: larger;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;


}

.formbutton {
  margin-top: 45px;
  font-size: 20px;
  position: absolute;
  right: 300px;  
   left: 350px; 


 
}
.subtitle {
  font-size: 40px;
  text-decoration: underline;
  margin-top: 10px;
  text-shadow: 2px 2px rgb(224, 139, 224);

}


.list {
  border: 2px solid;
  margin-left: 20px;
  margin-right: 20px;
  border-style: outset;
  border-width: 4px;
  margin-top: 30px;
}

.commentform {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px rgb(224, 139, 224);
}

.comments {
  margin-top: 20px;

}

.singlecomment {
  border-bottom: 2px solid rgb(238, 107, 214);
  box-shadow: 2px 16px 25px 20px rgb(208, 91, 188);
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 8px;


}
.commenttitle {
  text-decoration: underline;
  text-shadow: 2px 2px rgb(224, 139, 224);
}

/* .deletebutton {
 
} */

.artist-card {
  margin-left: 80px;
  margin-right: 80px;
  border-bottom: 2px solid rgb(238, 107, 214);
  padding-bottom: 5px;

}
.artist-container {
  margin-top: 90px;
}

.deletebutton {
margin: 60px;
font-size: 30px;
background-color: rgb(231, 29, 29);
border-radius: 50px;

}
.deletebutton:hover {
font-size: 40px;
background-color: white;
}